<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <uses-permission android:name="android.permission.BLUETOOTH" android:maxSdkVersion="30" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" android:maxSdkVersion="30" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <queries>
        <package android:name="com.whatsapp" />
        <package android:name="com.whatsapp.w4b" />
    </queries>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Billz">
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.Billz">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".WelcomeActivity"
            android:exported="false"
            android:theme="@style/Theme.Billz" />
        <activity
            android:name=".LoginActivity"
            android:exported="false"
            android:theme="@style/Theme.Billz" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false"
            android:theme="@style/Theme.Billz" />
        <activity
            android:name=".BusinessSetupActivity"
            android:exported="false"
            android:theme="@style/Theme.Billz" />
        <activity
            android:name=".LanguageSelectionActivity"
            android:exported="false"
            android:theme="@style/Theme.Billz" />
        <activity
            android:name=".ReportsActivity"
            android:exported="false"
            android:theme="@style/Theme.Billz">
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:theme="@style/Theme.Billz">
        </activity>
        <activity
            android:name=".InventoryManagementActivity"
            android:exported="false"
            android:theme="@style/Theme.Billz">
        </activity>
        <activity
            android:name=".AddCustomerActivity"
            android:exported="false"
            android:theme="@style/Theme.Billz">
        </activity>
        <activity
            android:name=".CustomerManagementActivity"
            android:exported="false"
            android:theme="@style/Theme.Billz">
        </activity>
        <activity
            android:name=".CashFlowActivity"
            android:exported="false"
            android:theme="@style/Theme.Billz">
        </activity>
        <activity
            android:name=".AddTransactionActivity"
            android:exported="false"
            android:theme="@style/Theme.Billz">
        </activity>
        <activity
            android:name=".AddStaffActivity"
            android:exported="false"
            android:theme="@style/Theme.Billz">
        </activity>
        <activity
            android:name=".OtherFeeSettingsActivity"
            android:exported="false"
            android:theme="@style/Theme.Billz">
        </activity>
        <activity
            android:name=".ServiceFeeSettingsActivity"
            android:exported="false"
            android:theme="@style/Theme.Billz">
        </activity>
        <activity
            android:name=".PackingFeeSettingsActivity"
            android:exported="false"
            android:theme="@style/Theme.Billz">
        </activity>
        <activity
            android:name=".DeliveryFeeSettingsActivity"
            android:exported="false"
            android:theme="@style/Theme.Billz">
        </activity>
        <activity
            android:name=".PaymentSettingsActivity"
            android:exported="false"
            android:theme="@style/Theme.Billz">
        </activity>
        <activity
            android:name=".DiscountSettingsActivity"
            android:exported="false"
            android:theme="@style/Theme.Billz">
        </activity>
        <activity
            android:name=".TaxSettingsActivity"
            android:exported="false"
            android:theme="@style/Theme.Billz">
        </activity>
        <activity
            android:name=".BusinessSettingsActivity"
            android:exported="false"
            android:theme="@style/Theme.Billz">
        </activity>
        <activity
            android:name=".ReceiptSettingsActivity"
            android:exported="false"
            android:theme="@style/Theme.Billz">
        </activity>
        <activity
            android:name=".EditBusinessActivity"
            android:exported="false"
            android:theme="@style/Theme.Billz">
        </activity>
        <activity
            android:name=".AddBusinessActivity"
            android:exported="false"
            android:theme="@style/Theme.Billz">
        </activity>
        <activity
            android:name=".StaffManagementActivity"
            android:exported="false"
            android:theme="@style/Theme.Billz">
        </activity>
        <activity
            android:name=".AttendanceManagementActivity"
            android:exported="false"
            android:theme="@style/Theme.Billz">
        </activity>
        <activity
            android:name=".SalarySlipActivity"
            android:exported="false"
            android:theme="@style/Theme.Billz">
        </activity>
        <activity
            android:name=".EditProfileActivity"
            android:exported="false"
            android:theme="@style/Theme.Billz">
        </activity>
        <activity
            android:name=".AddCategoryActivity"
            android:exported="false"
            android:theme="@style/Theme.Billz">
        </activity>
        <activity
            android:name=".CreateModifierActivity"
            android:exported="false"
            android:theme="@style/Theme.Billz">
        </activity>
        <activity
            android:name=".AddIngredientActivity"
            android:exported="false"
            android:theme="@style/Theme.Billz">
        </activity>
        <activity
            android:name=".AddItemActivity"
            android:exported="false"
            android:theme="@style/Theme.Billz">
        </activity>
        <activity
            android:name=".ManageItemActivity"
            android:exported="false"
            android:theme="@style/Theme.Billz">
        </activity>
        <activity
            android:name=".ReceiptsActivity"
            android:exported="false"
            android:theme="@style/Theme.Billz">
        </activity>
        <activity
            android:name=".ReceiptDetailsActivity"
            android:exported="false"
            android:theme="@style/Theme.Billz">
        </activity>
        <activity
            android:name=".ReceiptPreviewActivity"
            android:exported="false"
            android:theme="@style/Theme.Billz">
        </activity>
        <activity
            android:name=".EditReceiptActivity"
            android:exported="false"
            android:theme="@style/Theme.Billz">
        </activity>
        <activity
            android:name=".ReturnedReceiptsActivity"
            android:exported="false"
            android:theme="@style/Theme.Billz">
        </activity>
        <activity
            android:name=".DeviceDetailsActivity"
            android:exported="false"
            android:theme="@style/Theme.Billz">
        </activity>
        <activity
            android:name=".PrinterSetupActivity"
            android:exported="false"
            android:theme="@style/Theme.Billz" />
        <activity
            android:name=".AddPrinterActivity"
            android:exported="false"
            android:theme="@style/Theme.Billz" />
        <activity
            android:name=".BluetoothPrinterScanActivity"
            android:exported="false"
            android:theme="@style/Theme.Billz" />
        <activity
            android:name=".UsbPrinterScanActivity"
            android:exported="false"
            android:theme="@style/Theme.Billz" />
        <activity
            android:name=".NetworkPrinterSetupActivity"
            android:exported="false"
            android:theme="@style/Theme.Billz" />
        <activity
            android:name=".HelpChatActivity"
            android:exported="false"
            android:theme="@style/Theme.Billz">
        </activity>
        <activity
            android:name=".ChatbotActivity"
            android:exported="false"
            android:theme="@style/Theme.Billz"
            android:windowSoftInputMode="adjustResize">
        </activity>
        <activity
            android:name=".ReferAppActivity"
            android:exported="false"
            android:theme="@style/Theme.Billz">
        </activity>
    </application>

</manifest>
